*{
    margin: 0;
    padding: 0;
}

.container{
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#stopwatch{
    font-size: 100px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
#buttons{
    display: flex;

}

button{
    padding: 20px;
    background-color: #0a0a0a;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: larger;
    margin: 10px;
    width: 100px;
    transition: all 0.5s;
}
button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: none;
    transition: all 0.5;
}
.h1{
    color: lightgreen;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    

}

